@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  @apply font-serif;
}

button {
  @apply font-sans;
}